[submodule "wireguard-lwip"]
	path = components/wireguard-lwip
	url = https://github.com/smartalock/wireguard-lwip
[submodule "components/wireguard-lwip"]
	url = git@github.com:ciniml/wireguard-lwip-esp32.git
